html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.navbar{
  background-color: #7400b8;
  top: 0%;
  border-style:none;
  position: absolute;
  padding: 0;
  margin: 0;
  left: 0px;
  height: 10%;
  width: 100%;
}
.footerbar{
  background-color: #7400b8;
  top: 85%;
  left: 0px;
  height: 15%;
  width: 100%;
  position: absolute;

  border-style:none;
  padding: 0;
  margin: 0;
}
.logo_button{
  background-color: green;
  top: 2%;
  left: 45%;
  height: 7%;
  width: 7%;
  position: absolute;

  border-style: 1px solid red;
  border-radius: 40%;
  padding: 0;
  margin: 0;
}
.center_button{
  top: 40%;
  left: 40%;
  height: 10%;
  width: 10%;
  position: absolute;
}
.backgroundfill{
  background-color: #80ffdb;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  position: absolute;

  border-style: none;
  padding: 0;
  margin: 0;
}
